/* Global */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: Bebas Neue;
    color: #363958;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h5{
    font-size: 30px;
}
span{
    color: #027c33;
}
p{
    font-family: Roboto;
    font-size: 20px;
}
button{
    text-decoration: none;
    padding: 5px 20px;
    background-image: linear-gradient(180deg, #4caf50 0%, #027c33 100%);
    color: white;
}

a{
    font-size: 20px;
    font-weight: 400;
}

/* Price */
.price{
    font-weight: 700;
}

/* Card */
.card img{
    background-color: white ;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
.card img:hover{
    transform: scale(1.04);
    background-color: #027c33 ;
}

/* Rectangle */
.rectangle{
    height: 2px;
    width: 200px;
    background-color: olivedrab;
    margin: 0 auto;
}
#contact .rectangle{
    width: 50px;
    margin-bottom: 10px;
}

/* nav background */
.nav-bg{
    background-color: #4caf50;
}

/* banner background */
.banner{
    background-color: #027c33;
}

/* Footer */
footer{
    background-color: #4caf50;
    color: white;
    font-weight: 400;
}
footer p{
    margin-bottom: 0%;
}


